div{
   margin-left: 40%;
   margin-top: 10%;
    background-color: beige;
    width: 650px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    margin-left: 4px;
}
table{
    background-color: cyan;
    border: 2px black solid;
}