*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    border-radius: 5px;
    border-color: cadetblue;

}
th{
    background-color: brown;
    color: aquamarine;
}
td{
    background-color: rgb(247, 220, 154);
}
#edit{
    background-color: rgb(22, 248, 22);
}
#del{
    background-color: rgb(229, 82, 82);
}
#add{
    font-size: 20px;
    background-color: rgb(165, 165, 86);
    border-radius: 5px;
}