

<input type="text" [(ngModel)]="searchname" placeholder="Search by Name">
<table border="1">
  <tr>
    <th>Emp ID</th>
    <th>Emp Name</th>
    <th>Emp Mail</th>
    <th>Operation</th>
  </tr>
  <ng-container *ngFor="let db of database">
    <tr *ngIf="filteruser(db)">
      <td>{{db.id}}</td>
      <td>  <a [routerLink]="['/storage', db.id]">{{ db.name }}</a> </td>
      <td>{{db.email}}</td>
      <td>
        <button id="edit" (click)="editer(db)">Edit</button>
        <button id="del" (click)="del(db)">Delete</button>
      </td>
    </tr>
  </ng-container>


</table><br>

<button id="add" (click)="add()">ADD</button>